<h1>Welcome to TravelTo app!</h1>
<p>
  Hello {{ user.name }}, you have signed up to the trip sharing platform TravelTo with {{ user.email }}.
</p>

<p>
  If it was you, just click this
<a href="https://travel-to.herokuapp.com/activate_user/{{token}}">link</a> to confirm your account.
</p>

<p>
  If it wasn't you then we recommend you to change your password. Someone may
  have stolen it. 🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️
</p>

We wish you happy travelling! <br><br>

Cheers,<br>
TravelTo team
